body {
	background-color: white;
	margin-right: 25%;
	margin-left: 25%;
}
h1 {
	text-align: center;
	color: white;
	font-family: arial;
	text-transform: uppercase;
}
img { 
	display: block;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}
#one {
	background-color: white;
	text-align: left;
	margin-left: 25%;
	margin-right: 25%; 
}
h2 {
	font-family: arial;
	text-align: center;
	color: white;
}
h3 {
	text-align: center;
	color: white;
}
p {
	margin-right: 25%;
	margin-left: 25%;
	text-align: left;
	text-align-last: justify;

}
ul {
	margin-left: 15%;
	margin-right: 15%;
	text-align: left;
	text-align-last: justify;

}

#background {
	background-color: DDA0DD;

}

#method2 {
	color: DDA0DD;
	background-color: white;
	
}
#method1 {
	color: DDA0DD;
	background-color: white;
}

