body{
	color: black;
	max-height: 500px;
	width: 250%;
	background-image: linear-gradient(black, blue, black);
	line-height: 100px;
}

p:hover {
	color: white;
}

#all {
	letter-spacing: 50px;
	writing-mode: vertical-rl;
  	text-orientation: upright;
}
#if {
	text-orientation: sideways;
	letter-spacing: 2px;
}
#two {
	letter-spacing: 30px;
}
#three{
	text-orientation: sideways;
	letter-spacing: 25px;
}
#five {
	text-orientation: sideways;
	letter-spacing: 25px;
}
#toxic {
	text-orientation: sideways;
	letter-spacing: 5px;
}
#eight{
	text-orientation: sideways;
	letter-spacing: 5px;
}
#ten {
	text-orientation: sideways;
	letter-spacing: 5px;
}
#twelve {
	text-orientation: sideways;
	letter-spacing: 5px;
}
#six{
	text-orientation: sideways;
}
#nine {
	text-orientation: sideways;
}